@page
@model CoursePlanner.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Class</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Class.ClassId" />
            <div class="form-group">
                <label asp-for="Class.InstructorId" class="control-label"></label>
                <input asp-for="Class.InstructorId" class="form-control" />
                <span asp-validation-for="Class.InstructorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class.SubjectId" class="control-label"></label>
                <input asp-for="Class.SubjectId" class="form-control" />
                <span asp-validation-for="Class.SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class.Code" class="control-label"></label>
                <input asp-for="Class.Code" class="form-control" />
                <span asp-validation-for="Class.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class.CareerId" class="control-label"></label>
                <input asp-for="Class.CareerId" class="form-control" />
                <span asp-validation-for="Class.CareerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class.Term" class="control-label"></label>
                <input asp-for="Class.Term" class="form-control" />
                <span asp-validation-for="Class.Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class.Units" class="control-label"></label>
                <input asp-for="Class.Units" class="form-control" />
                <span asp-validation-for="Class.Units" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class.Description" class="control-label"></label>
                <input asp-for="Class.Description" class="form-control" />
                <span asp-validation-for="Class.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
