@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using Highsoft.Web.Mvc.Charts
@using Highsoft.Web.Mvc.Charts.Rendering;

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<figure class="highcharts-figure">
    <div id="container"></div>
</figure>

<form method="post">
    <input type="submit" value="Show Timetables" asp-page-handler="MakeTimetables" />
</form>




