@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using Highsoft.Web.Mvc.Charts
@using Highsoft.Web.Mvc.Charts.Rendering;

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<figure class="highcharts-figure">
    <div id="container"></div>
</figure>

<script>
    var json = [{
        name: 'HUMS',
        data: [{
            name: '118',
            value: 40
        }, {
            name: '110',
            value: 24
        },
        {
            name: "104",
            value: 30
        }]
    }, {
        name: 'COMP',
        data: [{
            name: "131",
            value: 60
        },
        {
            name: "437",
            value: 20
        },
        {
            name: "132",
            value: 60
        },
        {
            name: "106",
            value: 40
        },
        {
            name: "200",
            value: 60
        },
        {
            name: "202",
            value: 50
        }]
    }, {
        name: 'ASIU',
        data: [{
            name: "100",
            value: 40
        },
        {
            name: "110",
            value: 30
        },
        {
            name: "104",
            value: 30
        }]
    }, {
        name: 'ENGR',
        data: [{
            name: "200",
            value: 80
        },
        {
            name: "401",
            value: 40
        }]
    }]

    Highcharts.chart('container', {
        chart: {
            type: 'packedbubble',
            height: '100%'
        },
        title: {
            text: 'Spring 2020'
        },
        tooltip: {
            useHTML: true,
            pointFormat: '<b>{point.name}:</b> {point.value} students</sub>'
        },
        plotOptions: {
            packedbubble: {
                minSize: '0%',
                maxSize: '200%',
                zMin: 0,
                zMax: 1000,
                layoutAlgorithm: {
                    gravitationalConstant: 0.05,
                    splitSeries: true,
                    seriesInteraction: false,
                    dragBetweenSeries: false,
                    parentNodeLimit: true
                },
                dataLabels: {
                    enabled: true,
                    format: '{point.name}',
                    style: {
                        color: 'black',
                        textOutline: 'none',
                        fontWeight: 'normal'
                    }
                }
            }
        },
        series: json,
    });
</script>