@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}

<div style="padding:20px; padding-left:200px">
    <h1>@ViewData["Title"]</h1>

    <p>This website was created to help students choose classes during enrollment times.</p>
    <p>Barış Özakar ~ İrem Gökçek ~ Onur İskenderoğlu ~ Doruk Taneli </p>
</div>